
html, body{
    font-family: 'Roboto Slab', serif;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}
.jumbotron {
    margin-top: 30px;
    color: white;
    background-color: #29cec1;
}
.panel-heading {
    background-color: #29cec1 !important;
}
.btn {
    background-color: #29cec1;
}
/*prevents spill-over in table at smaller screen sizes*/
@media screen and (max-width:500px) {
    table {
        font-size: 10pt;
    }
}

@media screen and (max-width:400px){
    table {
        font-size: 9pt;
    }
}