body {
    background-image: url("../images/background.jpg");
    color: white;
    font-size: 14pt;
}

button {
    margin-top: 10px;
    margin-right: 10px;

}

.resetbtn {
    display: none;
}
.answerbtn {
    display: none;

}
img {
    max-width: 550px;
    float: left;
    padding-top: 30px;
    padding-right: 20px;
}

div {
    padding-right: 10px;
}


