
html, body{
    font-family: 'Roboto Slab', serif;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}
p {
    color: white;
}
div {
    overflow: visible;
}

button {
    background-color: lightblue;
}

#logo {
    width: 50px;
}